<div class="page-header">

    <div>

        <h2>Add Room</h2>

        <p>
            Create and manage hospital room records
        </p>

    </div>

</div>

<div class="form-container">

    <form
        action="/rooms/add"
        method="POST"
        class="styled-form"
    >

        <!-- ROOM NUMBER -->

        <div class="form-group">

            <label>Room Number</label>

            <input
                type="text"
                name="room_number"
                placeholder="Enter room number"
                required
            >

        </div>

        <!-- ROOM TYPE -->

        <div class="form-group">

            <label>Room Type</label>

            <select name="room_type">

                <option value="General">
                    General
                </option>

                <option value="Isolation">
                    Isolation
                </option>

                <option value="ICU">
                    ICU
                </option>

            </select>

        </div>

        <!-- STATUS -->

        <div class="form-group">

            <label>Availability Status</label>

            <select name="availability_status">

                <option value="Available">
                    Available
                </option>

                <option value="Occupied">
                    Occupied
                </option>

                <option value="Maintenance">
                    Maintenance
                </option>

            </select>

        </div>

        <!-- CAPACITY -->

        <div class="form-group">

            <label>Capacity</label>

            <input
                type="number"
                name="capacity"
                placeholder="Enter room capacity"
                required
            >

        </div>

        <!-- BUTTONS -->

        <div class="form-actions">

            <button
                type="submit"
                class="btn"
            >
                Add Room
            </button>

            <a
                href="/rooms"
                class="btn secondary-btn"
            >
                Cancel
            </a>

        </div>

    </form>

</div>