node_modules/
.env
uploads/
testing/screenshots/

.vscode/
.DS_Store
npm-debug.lognode_modules/

# Generated duplicate files/folders
alertController.js
alertRoutes.js
assignmentController.js
assignmentRoutes.js
authController.js
authMiddleware.js
authRoutes.js
createActivity.js
createNotification.js
dashboardController.js
db.js
exportController.js
exportRoutes.js
liveRoutes.js
multer.js
notificationRoutes.js
patientController.js
patientRoutes.js
profileController.js
profileRoutes.js
reportController.js
reportRoutes.js
roleMiddleware.js
roomController.js
roomRoutes.js
userController.js
userRoutes.js
alerts/
assignments/
auth/
css/
dashboard/
errors/
js/
layouts/
patients/
profile/
reports/
results/
rooms/
users/
