<div class="auth-page">

    <div class="auth-container">

        <div class="auth-card">

            <!-- HEADER -->

            <div class="auth-header">

                <div class="auth-logo">

                    <i class="fa-solid fa-key"></i>

                </div>

                <h1>Forgot Password</h1>


            </div>

            <!-- FORM -->

            <form
                action="/forgot-password"
                method="POST"
                class="auth-form"
            >

                <!-- EMAIL -->

                <div class="auth-input-group">

                    <label>Email Address</label>

                    <input
                        type="email"
                        name="email"
                        placeholder="Enter your email address"
                        required
                    >

                </div>

                <!-- BUTTON -->

                <button
                    type="submit"
                    class="btn auth-btn"
                >

                    Send Reset Link

                </button>

            </form>

            <!-- LINKS -->

            <div class="auth-links">

                <a href="/login">

                    Back to Login

                </a>

            </div>

        </div>

    </div>

</div>